.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App__pagination {
  flex-shrink: 0;
}

.App.App--loading::before {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5)
}