body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #cdcdcd;
}

* {
  box-sizing: border-box;
}

.page-container {
  width: 768px;
  margin: auto;
  height: 100vh;
  max-height: 100vh;
  padding: 64px 8px;
}

.page {
  background-color: white;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}