.Pagination {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.Pagination__control {
    height: 24px;
}

.Pagination__control--prev::before {
    content: "< "
}

.Pagination__control--next::after {
    content: " >"
}

.Pagination__currect-page {
    margin: auto;
}